{% extends "base.html" %}

{% block title %}Hello!{% endblock %}

{% block main %}
<div class="custom-toast-container">
    <!-- <div class="custom-toast shadow-lg m-3">
        There must be at least 2 leaders!
    </div> -->
</div>

<nav class="navbar sticky-top navbar-light shadow-sm" style="background-color: rgba(0,0,0,0.01); backdrop-filter: blur(8px);">
    <div class="container-fluid">
        <h1 class="navbar-brand mb-0">Team Sorter</h1>
        <button class="btn btn-outline-primary" id="toggleTheme">Dark Mode</button>
    </div>
</nav>

<form action="/sort" method="post">
    <div class="leaders m-2">
        <label for="leaders">Leaders:</label>
        <textarea class="form-control leader_names w-25 mx-auto" placeholder="Leader names" name="leaders"></textarea>
    </div>
    <div class="pots m-2" id="pot_1">
        <input class="form-control" placeholder="Pot-Name`\n`(Doesn't affect anything)" value="Pot-1">
        <textarea class="form-control members">Member1</textarea>
        <button class="btn btn-outline-danger removeDiv">Remove</button>
    </div>
    <div class="btns m-2">
        <button id="addMore" class="btn btn-outline-primary">+</button>
    </div>
</form>

<div class="d-flex m-2 flex-column align-items-center">
    <input type="button" value="Sort" id="submitBtn" class="btn btn-outline-primary" style="width: 50%;">
</div>

<div class="results m-5">

</div>

<script type="module">
    import { latestTeamID } from "{{ url_for('static', filename='functions.js') }}";

    const submitBtn = document.querySelector('#submitBtn');

    // Submit Button
    submitBtn.addEventListener('click', function(event){
        event.preventDefault();
        let formData = new FormData();

        console.log(latestTeamID);
        const divs = document.querySelectorAll('.pots');
        const resultsDiv = document.querySelector('.results');
        const toastDiv = document.querySelector('.custom-toast-container');
        const leader_names = document.querySelector('.leaders .leader_names').value;
        formData.append('leaders', leader_names);

        for (let i = 0; i < latestTeamID; i++) {
            if (!divs[i]) {
                continue;
            }
            
            const members = divs[i].querySelector('.members').value;

            formData.append(`${i}_members`, members);
            
            // console.log(leader_name);
            // console.log(members);
        }

        fetch('/sort', {
            method: "POST",
            body: formData
        })
        .then(result => {
            return result.text().then(data => ({
                status: result.status,
                data
            }));
        })
        .then(
            finalResult => {
                if (finalResult.status === 200){
                    resultsDiv.innerHTML = finalResult.data;
                    
                    window.scrollTo({
                        top: document.body.scrollHeight,
                        behavior: "smooth"
                    });
                }
                else {
                    toastDiv.innerHTML = finalResult.data;

                    const innerToast = toastDiv.querySelector('.custom-toast');
                    innerToast.classList.add('slideInTop');

                    setTimeout(() => {
                        innerToast.classList.remove('slideInTop');
                        innerToast.classList.add('slideOutTop');

                        innerToast.addEventListener('animationend', function() {
                            innerToast.remove();
                        }, {once: true});
                    }, 3000)
                }
            }
        );
    });


    // Dark and Light mode
    const toggleThemeBTN = document.querySelector("#toggleTheme");
    const htmlElement = document.documentElement;

    toggleThemeBTN.addEventListener("click", function(event) {
        if (htmlElement.getAttribute("data-bs-theme") === "light") {
            toggleThemeBTN.innerHTML = "Light Mode";
            htmlElement.setAttribute("data-bs-theme", "dark");
        }
        else {
            toggleThemeBTN.innerHTML = "Dark Mode";
            htmlElement.setAttribute("data-bs-theme", "light");
        }
    });
</script>

{% endblock %}